@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden !important;
	scroll-behavior: smooth;
	transition: 2s;
}

html {
	scroll-padding-top: 80px;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins";
}

body,
html {
	font-family: "poppins", sans-serif !important;
}

p {
	font-family: "poppins", sans-serif !important;
}

hr {
	margin: 0.4rem 0 !important;
	color: inherit;
	border: 0;
	border-top: 2px solid !important;
	opacity: 0.25;
}

label {
	color: #000;
}

.heading {
	margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold !important;
}

.sp-bg {
	background-color: #811811;
	 !important color: #fff;
	padding: 0 5px;
}

.sp-text {
	color: #811811;
	 !important
}

.sp-text-bold {
	color: #811811;
	 !important font-weight: bold;
}

p {
	margin-top: 0;
	margin-bottom: 0 !important;
	font-size: 14px;
}

label {
	display: inline-block;
	margin-bottom: 0px !important;
}

#form,
.cont,
.topnav {
	padding: 20px;
}

.banner-cr,
.banner-sub,
.frm-heading,
.sub-form-p {
	text-align: center;
}

#form,
#header,
#program-box {
	background-color: #fff;
}


#mobile-form,
.mb-apr-img,
.modal,
.topnav .icon {
	display: none;
}

section {
	margin: 60px 0;
}

#header {
	position: sticky;
	top: 0;
	padding: 10px;
	z-index: 100;
	box-shadow: 0 0 5px 2px rgba(204, 204, 204, 0.7);
	height: 90px;
}

.topnav .logo {
	float: left;
	position: absolute;
	margin-top: -20px;
}

.logo-img {
	width: 80%;
}

.topnav ul {
	float: right;
	margin-top: 3px !important;
}

.topnav ul a {
	text-decoration: none;
	padding: 2px 30px;
	color: #000;
	border-right: 1px solid #ccc;
}

#banner {
	background: url("../img/vgu-bg-desktop.webp") 0 0 / cover !important;
	padding: 10px 0px 0px 0px;
}

.banner-heading {
	font-size: 40px;
	color: #811811 !important;
}

.banner-content {
	padding: 20px 5px;
	margin-top: 15px;
	color: #fff !important;
	;
}
.banner-content h1 {
	font-weight: 500 !important; font-size: 25px!important; margin-top: 20px;
}
.banner-content h2 {
	font-weight: 500 !important; font-size: 30px!important; margin-top: 20px;
}

.ch {
	font-weight: 600;
	font-size: 30px;
	margin-top: 20px;
	color: #333;
}

.banner-content h3 {
	font-size: 30px;
	color: #811811;
	 !important font-weight: bold;
	font-family: poppins;
}


.banner-cr {
	background-color: rgb(255, 255, 255, 0.5);
	padding: 10px;

}

.banner-sub {
	background-color: #f9f9f9;
	border-style: dashed;
	border-color: #ccc;
	padding: 10px;
	margin-right: 70px;
	margin-top: 20px;
}

#form {
	
	color: #000;
	font-weight: 500;
	border-radius: 5px;
	background-color: #fff;
}

.frm-heading {
	font-size: 24px;
	color: #811811;
}

.sub-form-p {
	font-size: 14px;
	color: #615d5d;
	margin-top: -5px;
}

.apr-h,
.apr-text {
	text-align: left;
}

#brochure-btn,
.sub-btn {
	border-radius: 5px;
	border-style: none;
	color: #fff;
}

.form-control {
	background-color: #F3F3F8 !important;
	border-style: none !important;
	margin: 10px 0px;
}

.sub-btn {
	background-color: #FFD508;
	 !important;
	padding: 10px 50px;
	width: 100%;
	color: #000;
}

#approvals {
	padding: 30px;
}

#approvals h2 {
	margin: 20px 0px;
}

#approvals h3 {
	font-size: 30px !important;
}

.apr-box {
	border: 2px solid #ccc !important;
	padding: 20px;
	border-radius: 50px;
	margin-top: 10px;
}

.apr-img {
	float: left;
	padding-right: 20px;
	width: 80px;
	margin-top: -8px;
}

.apr-box p {
	font-size: 13px;
	line-height: 1.2em;
}


.th,
td,
th {
	text-align: left;
}

.apr-cnt {
	margin: 0 90px;
}

#programme {
	background-color: #F3F3F8;
	padding: 70px 0px;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
}

#programme h2 {
	color: #811811;
	font-size: 30px;
}

.course-box {
	padding: 20px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.1607843137);
	margin: 5px;
	text-align: left !important;
}

.course-box h2 {
	color: #08417B !important;
	font-size: 35px !important;
	font-weight: 500;
}

.coures-full {
	font-size: 15px;
	line-height: 1.2em;
	color: #08417B !important;
	font-family: 500;
}

.course-box p {
	font-size: 10px;
	line-height: 1.2em;
	padding-bottom: 10px !important;
	/* margin-top: 10px; */
}

.course-info {
	display: flex;
}

.course-btn {
	font-size: 13px;
	background-color: #811811;
	color: #fff !important;
	padding: 8px 15px;
	border-style: none;
	border-radius: 30px;
}

.course-duration {
	background: none !important;
	border-style: none;
	font-size: 13px;
	float: right !important;
	padding-left: 20px;
}


.btn1,
.btn2 {
	border-radius: 5px;
	font-size: 13px;
}


#features h2 {
	font-weight: 400;
	color: #fff;
	background-color: #811811;
	text-align: center;
	width: 300px;
	padding: 10px 20px;
	font-size: 19px;
	border-radius: 0px 10px 10px 10px;
}

#feature-box {
	margin: 0px 40px;
}


#feature-box h3 {
	font-size: 15px;
	color: #000;
}

#feature-box p {
	font-size: 13px;
	line-height: 1.2;
}

.copyright,
.crd-heading,
.sub-h {
	text-align: center;
}

#btn-abt,
.btn1,
.btn2 {
	border-style: none;
}

#partner-logo,
.btn1,
.card-content,
.crd-heading {
	padding: 10px;
}


#abt-ct,
.btn1,
.btn2 {
	font-size: 13px;
}

.sub-h {
	font-weight: 600 !important;
	margin-bottom: -5px;
	margin-top: -5px;
}

.btn1 {
	background-color: #ccc;
	color: #000;
	padding: 10px 15px;
	margin: 0px;
	border-radius: 5px;
}

.btn2 {
	padding: 10px 25px;
	margin: 0px;
	background-color: #811811 !important;
	color: #fff !important;
	border-radius: 5px;
}


#about {
	background: url("../img/about-bg-vgu.webp") 0 0 / cover !important;
	color: #fff;
	padding: 40px;
}


#abt-box img {
	/* padding: 10px; */ margin-top: 30px;
}

#abt-ct {
	background-color: #761522e0;
	padding: 70px 30px;
	color: #fff;
	text-align: justify;
}

#btn-abt {
	background-color: #009933;
	color: #fff;
	padding: 10px 20px;
	border-radius: 3px;
}

.whyborder {
	border-left: 4px solid #811811;
	 !important padding: 10px;
}

.feature-img {
	width: 100px;
	padding: 10px;
}

#certificate {}

.contain-area {
	background-color: #F3F3F8;
	padding: 0px 20px 40px 40px;
	border-radius: 30px;
}

.contain-area {
	background-color: #F3F3F8;
	padding: 0px !important;
	border-radius: 30px;
}

.certificta-content {
	padding: 50px 20px 20px 50px
}

.certificta-content h2 {
	font-size: 30px;
}

#certificate-keypoints {
	font-size: 13px;
	margin: 20px 0px;
}

#certificate-keypoints img {
	float: left;
	width: 45px !important;
	padding: 5px 12px 10px 0px !important;
}

#certificate-keypoints p {
	line-height: 1.2em;
	font-size: 13px;
}

#partner h2 {
	font-weight: 400;
	color: #fff;
	background-color: #811811;
	text-align: center;
	width: 300px;
	padding: 10px 20px;
	font-size: 19px;
	border-radius: 0px 10px 10px 10px;
}

#accordition {
	background-color: #F3F3F8 !important;
	padding: 50px;
}

#accordition h2 {
	color: #811811;
	font-size: 30px;
	margin-left: 18px;
}

.accordion {
	background: none !important;
	color: #000;
	font-weight: 500;
	cursor: pointer;
	padding: 10px 8px 10px 20px;
	width: 100%;
	border-style: none !important;

	text-align: left;
	outline: 0;
	font-size: 15px;
	transition: 0.4s;
	margin-top: 10px;

}

.adm-head,
.close,
.ftr-h {
	font-weight: 700;
}

#accordition .active {
	/* border-radius: 10px 10px 0 0; */
	background: none !important;
	color: #08417B !important;
	font-weight: 600;
}

.panel {
	padding: 0;
	/* background-color: #ccc; */
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	font-size: 13px;
	border-bottom: 1px solid #ccc !important;
}

.accordion:after {
	border-style: none;
	content: "\02795";
	font-size: 10px;
	color: #fff !important;
	float: right;
	/* margin-left: 5px; */
}

.accordion.active:after {
	content: "\2796";
	color: #369;
}
.cont{padding: 10px 40px!important;}

	#accordition .fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left !important;
    padding-bottom: 10px 20px !important;
    padding: 5px;
}
#admission {
	background-color: #fc0;
	padding: 20px 120px;
}

.adm-head {
	color: #f60;
}

#btn-adm {
	background-color: #f60;
	border-style: none;
	padding: 10px 50px;
	margin-top: 20px;
	color: #fff;
}

.img-footer {
	width: 70%;
}

#footer {
	background-color: #333;
	padding: 50px 20px 20px;
	color: #fff;
	font-size: 13px;
}

.ftr-h {
	color: #fff;
	font-size: 17px;
	margin-bottom: 20px;
}

.ftr-p {
	color: #b3b3b3;
}


#frm-bottom {
	margin-left: 0;
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background: none;
	margin: 100px auto;
	border-style: none;
	border-radius: 5px;
	width: 30% !important;
}

.close {
	color: #fff;
	width: 40px;
	float: right;
	padding-left: 10px;
	font-size: 28px;
	margin-top: -42px;
	background-color: #707070;
	margin-left: 92%;
}

.close:focus,
.close:hover {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	#header {
		box-shadow: 0 0 5px 2px #ccc;
	}

	

	.banner-cr,
	.banner-sub,
	.frm-heading,
	.sub-form-p {
		text-align: center;
	}

	#approvals,
	#banner,
	#form {
		padding: 20px;
	}

	#approvals p {
		text-align: left; font-size: 12px;
	}
	.apr-desc{text-align: center!important; font-size: 14px!important;}
	.apr-img {
        float: left;
        padding-right: 10px;
        width: 80px;
        margin-top: -19px!important;
    }

	#approvals h3 {
		font-size: 20px;
		text-align: center;
		margin-top: 20px;
	}

	#features h2 {
		font-weight: 400;
		color: #fff;
		background-color: #811811;
		font-size: 16px;
		width: 250px;
	}


	#features p {
		font-size: 13px;
	}

	#desktop-form,
	.mb-apr-img,
	.modal,
	.topnav ul a {
		display: none;
	}

	section {
		margin: 40px 20px;
	}

	.topnav {
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.topnav ul {
		float: none;
	}

	.topnav ul a {
		text-decoration: none;
		
	}

	.logo-img {
		width: 90% !important;
	
	}

	.topnav .icon {
		float: right;
		display: block;

		padding: 10px 15px;
		background-color: #811811;
		color: #fff;
		border-radius: 5px
	}

	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive .icon {
		position: relative;
		right: 0;
	}

	.topnav.responsive ul {
		background-color: #333;
		padding: 10px;
		margin-top: 10px;
	}

	.topnav.responsive ul a {
		float: none;
		display: block;
		text-align: left;
		margin-top: 10px;
		padding: 10px;
		color: #fff !important;
		border-bottom: 1px solid #474747;
	}

	.topnav .logo {
		float: left;
		margin-top: 0px;

	}

	#banner {
		padding: 5px 10px 20px 10px;
		background: url("../img/mobile-bg-vgu-front.webp") 0 0 / cover !important;
	}

	.banner-heading {
		font-size: 25px;
		color: #811811;
		font-size: 25px;
	}

	.banner-content {
    padding: 5px;
    margin-top: 15px;
    color: #fff !important;
}

.banner-content p{ font-size: 12px;}

	.banner-content h2 {
		font-size: 19px!important;
	}
.banner-content h1 {
		font-size: 20px!important; font-weight: 600!important;
	}
	.subname{font-size: 17px!important; margin-bottom: -13px!important;}
	.course-box {
		padding: 20px;
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.1607843137);
		margin: 20px;
		text-align: left !important;
	}

	#btn-abt {
	background-color: #009933;
	color: #fff;
	padding: 10px 20px!important;
	border-radius: 3px; font-size: 12px;
}

	#approvals h2 {
		font-size: 22px;
		text-align: center;
	}

	.apr-img {
		float: left;
		padding-right: 10px;
		width: 80px;
		margin-top: -15px;
	}

	#programme {
		background-color: #F3F3F8;
		padding: 50px 0px;
		border-top-left-radius: 80px;
		border-top-right-radius: 80px;
	}


	#feature-box {
		width: 45%;
		margin: 5px;
	}

	#feature-box p {
		font-size: 12px !important;
	}

	#about {
		padding: 20px 10px;
		text-align: center;
	}

	.abt-txt{text-align: justify;}
	#abt-box img {
	/* padding: 10px; */ margin-top: 10px;
}


	.contain-area {

		background-color: #F3F3F8;
		padding: 0px 10px;
		border-radius: 30px;
	}

	.certificta-content h2 {
		font-size: 20px !important;
	}

	.certificta-content {
		padding: 50px 20px 20px 30px;
	}

	#partner h2 {
		font-weight: 400 !important;

	}

	#partner h2 {
		width: 250px;
		font-size: 16px;
	}


	#accordition {
		padding: 30px 20px;
	}

	.accordion {
		margin-top: 0px;
		padding: 10px 8px 0px 20px;
	}
	.cont{font-size: 13px; padding: 10px 10px 10px 40px;}
	#accordition .fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left !important;
    padding-bottom: 10px 20px !important;
    padding: 5px 5px 25px 5px!important;
}

	#accordition h2 {
		color: #811811;
		font-size: 20px;
		margin-left: 18px;
	}

	.accordion {
		background: none !important;
		color: #000;
		font-weight: 500;
		cursor: pointer;
		padding: 10px 8px 5px 20px;
		width: 100%;
		border-style: none !important;
		text-align: left;
		outline: 0;
		font-size: 13px;
		transition: 0.4s;

	}

	#footer {
		background-color: #333;
		padding: 50px 20px 20px;
		color: #fff;
		font-size: 13px;
	}


	#cnt-frm {
		box-shadow: 0 0 2px 5px #f9f9f9;
		padding: 0;
		background-image: url("assets/img/for popup.webp");
	}

	.ftr-h {
		color: #fff;
		font-size: 17px;
		margin: 18px 0px;
	}

	.ftr-p {
		color: #b3b3b3;
	}

	.footer-btn {
		padding: 8px 40px;
		border: 2px solid #f60;
		background: 0 0;
		color: #fff;
		margin-top: 40px;
	}

	.footer-btn:hover {
		background-color: #f60;
		color: #fff;
	}

	.footer-hr {
		background-color: #ccc;
		margin: 20px;
	}

	.copyright {
		text-align: center;
	}

	#frm-bottom {
		margin-left: 0;
	}

	.modal {
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);
	}

	.modal-content {
		background: none;
		margin: 5% auto;
		border: 1px solid #888;
		width: 90% !important;
		margin-top: 70px !important;
	}

	.close {
		color: #fff;
		width: 40px;
		float: right;
		padding-left: 10px;
		font-size: 28px;
		margin-top: -42px;
		background-color: #707070;
		margin-left: 92%;
	}

	.close:focus,
	.close:hover {
		color: red;
		text-decoration: none;
		cursor: pointer;
	}

	#partner-logo img {
		width: 100% !Important;
	}
}